/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Universal Gallery */
.cs-gallery {
    width: 100%;
    padding: 0;
    margin: 0;
    opacity: 1;
    visibility: visible;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: clamp(1rem, 1.5vw, 1.25rem);
    transition: transform 0.7s, opacity 0.3s, visibility 0.5s;
    transform-origin: left top;
}

.cs-gallery.cs-hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    transform: scaleY(0) scaleX(0);
}

.cs-gallery.cs-hidden .cs-image {
    transform: translateY(2.1875rem);
    opacity: 0;
}

.cs-image {
    border-radius: 1.25rem;
    width: 47%;
    aspect-ratio: 1;
    overflow: hidden;
    display: block;
    position: relative;
    transform: translateY(0rem);
    opacity: 1;
    transition: opacity 0.6s, transform 0.6s;
}

.cs-image img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Universal Dark Mode */
body.dark-mode .cs-gallery {
    background-color: #121212;
}

body.dark-mode .cs-image {
    border-radius: 1.25rem;
}

body.dark-mode .cs-image img {
    filter: brightness(0.85);
}


                                