/*-- -------------------------- -->
<---    Side By Side Reverse    -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-2420 {
    margin-top: 10rem;
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
  }
  #sbsr-2420:before {
    /* background color overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: var(--primary);
    opacity: 0.05;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #sbsr-2420 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbsr-2420 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 36.25rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbsr-2420 .cs-content-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbsr-2420 .cs-text {
    margin-bottom: 1rem;
  }
  #sbsr-2420 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    min-width: 9.375rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    color: #fff;
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  #sbsr-2420 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    border-radius: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #sbsr-2420 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbsr-2420 .cs-ul {
    width: 100%;
    list-style: none;
    margin: 0 0 2rem 0;
    padding: 0;
    /* prevents padding from affecting width and height */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
  #sbsr-2420 .cs-li {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: left;
    font-weight: 700;
    width: 100%;
    margin: 0;
    color: var(--bodyTextColor);
    display: flex;
    align-items: center;
    gap: 0.75rem;
    position: relative;
  }
  #sbsr-2420 .cs-li-icon {
    width: 1rem;
    height: auto;
    flex: none;
    display: block;
    position: relative;
  }
  #sbsr-2420 .cs-image-group {
    /* scaling entire section down. font-size starts at a min in vw, and stops when that vales equals .74em, resets at desktop */
    font-size: min(2.3vw, .6em);
    width: 39.375em;
    height: 44em;
    position: relative;
  }
  #sbsr-2420 .cs-picture {
    width: 100%;
    height: 44em;
    display: block;
    position: relative;
  }
  #sbsr-2420 .cs-picture img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: relative;
    bottom: 0;
    left: 0;
  }
  #sbsr-2420 .cs-circle {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  #sbsr-2420 .cs-message {
    font-weight: 700;
    width: 12.3125em;
    padding: 1em 1.5em;
    background-color: #fff;
    border-radius: 2em;
    text-align: center;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbsr-2420 .cs-message:before {
    /* background color overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: var(--primary);
    opacity: 0.1;
    border-radius: 2em;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
  #sbsr-2420 .cs-message:after {
    /* background color overlay */
    content: "";
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 0.25em solid var(--primary);
    opacity: 0.2;
    border-radius: 2em;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
  #sbsr-2420 .cs-arrow {
    width: 4.4375em;
    height: auto;
    position: absolute;
    top: 6.1875em;
    left: 3.125em;
    transform: rotate(-29deg);
  }
  #sbsr-2420 .cs-wrapper {
    width: 100%;
    max-width: 36.25rem;
    display: flex;
    flex-direction: column;
    /* 16px - 32px */
    gap: clamp(1rem, 1.9vw, 2rem);
  }
#sbsr-2420 .cs-graphic-group {
    background-color: var(--primary);
    /* 96px - 157px */
    width: clamp(6rem, 10vw, 9.8125rem);
    height: clamp(6rem, 10vw, 9.8125rem);
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50%;
}

  #sbsr-2420 .cs-circle-small {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #sbsr-2420 .cs-graphic {
    /* 55px - 96px */
    width: clamp(3.4375rem, 5vw, 6rem);
    height: auto;
  }
  #sbsr-2420 .cs-header {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.9vw, 1.5625rem);
    font-weight: 700;
    margin-bottom: 0.75rem;
    display: block;
    color: var(--primary);
  }
  #sbsr-2420 .cs-graphic-text {
    margin-bottom: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbsr-2420 .cs-wrapper {
    flex-direction: row;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbsr-2420 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    align-items: flex-start;
  }
  #sbsr-2420 .cs-image-group {
    /* reset the scale */
    font-size: min(0.95vw, 1rem);
    /* prevent flexbox from squishing it */
    flex: none;
    order: 2;
  }
  #sbsr-2420 .cs-content-wrapper {
    width: 50%;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbsr-2420 {
    background-color: rgba(0, 0, 0, 0.2);
  }
  body.dark-mode #sbsr-2420 .cs-topper {
    color: var(--secondary);
  }
  body.dark-mode #sbsr-2420 .cs-title,
  body.dark-mode #sbsr-2420 .cs-text,
  body.dark-mode #sbsr-2420 .cs-li,
  body.dark-mode #sbsr-2420 .cs-message,
  body.dark-mode #sbsr-2420 .cs-header {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbsr-2420 .cs-li,
  body.dark-mode #sbsr-2420 .cs-text {
    opacity: 0.8;
  }
  body.dark-mode #sbsr-2420 .cs-message {
    background-color: rgba(0, 0, 0, 0.3);
  }
  body.dark-mode #sbsr-2420 .cs-arrow {
    filter: grayscale(1) brightness(1000%);
  }
  body.dark-mode #sbsr-2420 .cs-circle,
  body.dark-mode #sbsr-2420 .cs-circle-small {
    filter: grayscale(1) brightness(100%);
  }
}
                                                          